.paginados {
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paginados .pisada{
    position: absolute;
    left: 30%;
    top: 100px;
}

.paginados div {
    height: 100%;
    position: relative;
    transition: all 0.6s ease;
}

.paginados .precios {
    width: 30%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: 430px;
    opacity: 0;
    transform: translateX(-50px);
}

.paginados .precios h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.paginados .precios p {
    font-size: 1rem;
    color: var(--gris);
    text-align: justify;
}

.paginados .precios button {
    background-color: white;
    color: var(--gris);
    border: solid 1px var(--gris);
    transition: all 0.4s ease;
    margin-top: 10px;
}

.paginados .precios button:hover {
    background-color: var(--primario);
    color: white;
    border: solid 1px var(--primario);
}

.paginados .precios ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: left;
}

.paginados .precios ul li {
    font-size: 1rem;
    display: flex;
    align-items: end;
    margin-right: 15px;
    color: var(--gris);
    cursor: pointer;
}

.paginados ul li::after {
    position: relative;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--foreground);
    border-radius: 1px;
    transition: all 0.4s ease;
}

.paginados .precios ul .active {
    font-size: 1.4rem;
    color: var(--foreground);
}

.paginados .precios ul .active::after {
    width: 50px;
}

.paginado {
    width: 60%;
    overflow: auto;
    scrollbar-width: thin;
    opacity: 0;
    transform: translateX(100px);
}

.paginado>ul {
    display: flex;
    width: max-content;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.paginado>ul>li {
    height: 430px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--claroDos);
    margin-right: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.paginado>ul>li .headCard {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paginado>ul>li .headCard span {
    font-size: 1.4rem;
    color: var(--gris);
    font-weight: 500;
    transition: all 0.4s ease;
}

.paginado>ul>li .headCard button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0 15px;
    font-size: small;
    transition: all 0.4s ease;
}

.paginado>ul>li .headCard button span {
    display: flex;
    align-items: center;
    color: var(--background);
    margin-left: 5px;
}

.paginado>ul .active {
    background-color: var(--claroUno);
}

.paginado>ul>.active .headCard button {
    background-color: var(--primario);
    color: white;
}

.paginado>ul>li h3 {
    font-size: 1.3rem;
    color: var(--foreground);
}

.paginado>ul>.active h3 {
    font-size: 1.3rem;
    color: var(--primario);
}

.paginado>ul>li .price {
    position: relative;
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    text-align: right;
    height: min-content;
    margin: 0;

}

.paginado>ul>li .price .subt {
    font-size: small;
}

.paginado>ul>li .price .value {
    font-size: 1.5rem;
}

.paginado>ul>li>ul {
    list-style: none;
    padding: 0;
}

.paginado>ul>li>ul .a{
    margin-left: 15px;
    text-decoration: underline;
    font-size: small;
}

.paginado>ul>li>ul>li {
    list-style-image: url("/huellali.svg");
    margin-left: 20px;
    font-size: small;
    margin-bottom: 10px;
}



@media only screen and (max-width: 765px) {
    .paginados {
        flex-direction: column;
    }

    .paginados .precios {
        width: 100%;
        height: auto;
    }

    .paginados .precios ul {
        margin: 40px 0 20px 0;
    }

    .paginado {
        width: 100%;
        overflow: auto;
        scrollbar-width: thin;
    }

    .paginado > ul  > li {
        height: 380px;
        width: 280px;
        border-radius: 10px;
        background-color: var(--claroDos);
        margin-right: 20px;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}

.tapador{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tapador .containerTapador{
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px;
    max-height: 80vh;
    overflow: auto;
    scrollbar-width: thin;
}
.tapador .containerTapador > h3{
    margin-bottom: 10px;
}
.tapador .containerTapador > p{
    margin-bottom: 10px;
    color: var(--gris);
}
.tapador .containerTapador > ol{
    padding: 0 15px 0 20px;
    margin: 10px 0;
}
.tapador .containerTapador > .value{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--whatsapp);
    width: 100%;
    text-align: right;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tapador .containerTapador > .value button{
    width: 110px;
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: var(--whatsapp);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tapador .containerTapador > .value button span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.tapador .containerTapador .cerrar{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}